section {
  max-height: 100vh;
  padding: 0 0 0 0 !important;
}

#aboutheader {
  background-color: var(--tint);
  background-image: url("../assets/aboutphotos/aboutheaderphoto.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  height: 55%;
  display: flex;
  flex-direction: column;
}

#aboutheadertext {
  padding: 7% 5%;
  color: var(--textlight);
  text-align: center;
  font-size: clamp(10px, 4vw, 72px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: auto;
}

#aboutheaderbody {
  padding: 2%;
  color: var(--text);
  text-align: center;
  font-size: clamp(10px, 3vw, 18px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: auto;
}

#aboutgallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  max-width: auto;
  margin: 0 auto;
  overflow: hidden;
}

#aboutgallery img {
  display: inline-block;
  width: 40vh;
  max-height: 100%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ddd;
  background: #fff;
  object-fit: fill;
}

#aboutgallery img:hover {
  transform: scale(1.1);
  transition: transform ease 0.5s;
}

h1, h2{
  text-align: center;
}

hr {
  border: solid 5px #3f3a39;
}

#aboutgallery img.full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.7);
}

.fade-from-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.fade-from-bottom.visible {
  opacity: 1;
  transform: translateY(0);
}

#textcontainer {
  display: flex;
  text-align: justify;
 
}

#text {
  flex: 1;
  padding: 0% 4%;
}

#image {
  flex: 1;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  #aboutgallery {
    grid-template-columns: repeat(2, minmax(0, 40%));
    margin-left: 2%;
    grid-column-gap: 10%;
  }

  #aboutgallery img {
    padding: 5%;
    margin: 5%;
  }
  #text {
    padding-top: 5%;
    font-size: 55%;
  }
  
  #aboutheadertext {
    font-size: 150%;
  }
}
