section {
  max-height: 100vh;
  padding: 0 0 0 0 !important;
}
section.enclosed {
  justify-content: center;
  align-items: center;
  display: flex;
}
section.enclosed > div {
  width: 90%;

  background-color: var(--primary);
}
.banner {
  height: 30vw;
  background: var(--background-gradient);
  overflow: hidden;
}

#aboutheader {
  background-color: var(--tint);
  background-image: url("../assets/aboutphotos/aboutheaderphoto.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
#aboutheadertext {
  color: var(--text-light);
}
#aboutheadertext h1 {
  text-align: center;
  margin: 0;
  padding: 0px;
  font-size: clamp(24px, 6vw, 144px);
  flex-direction: column;
  z-index: auto;
}
#aboutheadertext h2 {
  padding: 0;
  margin: 0;
}

#aboutheaderbody {
  padding: 2%;
  color: var(--text);
  text-align: center;
  font-size: clamp(10px, 3vw, 18px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: auto;
}

#aboutgallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  max-width: auto;
  margin: 0 auto;
  overflow: hidden;
}

#aboutgallery img {
  display: inline-block;
  width: 40vh;
  max-height: 100%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ddd;
  background: #fff;
  object-fit: fill;
}

#aboutgallery img:hover {
  transform: scale(1.1);
  transition: transform ease 0.5s;
}

h1,
h2,
h3 {
  text-align: center;
}

#aboutgallery img.full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.7);
}

#textcontainer {
  display: flex;
  text-align: justify;
}

#text {
  flex: 1;
  font-size: 1.2rem;
  padding: 0% 4%;
}

#image {
  flex: 1;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
.welcome-section,
.selection-section {
  max-height: unset;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-gradient);
  width: 100%;
}
.selection-section {
  background: var(--secondary);
}
.welcome,
.selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 48px 12px 48px 12px;
  gap: 24px;
}
.selection {
  flex-direction: column;
}
div .hr {
  width: 50%;
  height: unset;
  margin: 0 25% !important;
}
div .hr hr {
  border: 2px solid var(--accent);
}
.welcome-title,
.selection-title {
  font-size: x-large;
}
.welcome-text {
  width: 40%;
}
.selection-text {
  width: clamp(200px, 80%, 500px);
}
.welcome-graphic {
  border-style: dashed;
  height: fit-content;
  border-color: var(--text);
  border-radius: 50%;
  padding: 4vw;
  background: var(--primary);
  background: radial-gradient(
    circle,
    var(--secondary) 20%,
    rgba(0, 212, 255, 0) 100%
  );
}
.welcome-graphic img {
  object-fit: cover;
  height: 25vw;
  min-height: 30vh;
}
@media only screen and (max-width: 900px) {
  #aboutgallery {
    grid-template-columns: repeat(2, minmax(0, 40%));
    margin-left: 2%;
    grid-column-gap: 10%;
  }

  #aboutgallery img {
    padding: 5%;
    margin: 5%;
  }

  #textcontainer {
    display: flex;
    flex-direction: column;
  }
  .welcome {
    flex-direction: column;
  }
  .welcome-text {
    width: clamp(200px, 80%, 500px);
  }
}
