footer {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
footer .horizontal {
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .horizontal > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
}
footer .logo {
  display: flex;
  padding-top: 24px;
  width: 95%;
}
footer .logo img {
  width: 20%;
  object-fit: cover;
}
footer a {
  font-size: 14px;
  font-family: var(--bodyfont);
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  font-weight: normal;
}
footer .links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
footer ul {
  list-style: none;
}
footer hr {
  border: 1px solid rgb(0, 0, 0, 0.3);
}
footer .hr {
  width: 100%;
}
footer .contacts a {
  width: 24px;
}
footer h4 {
  font-size: large;
}
footer h4:last-child {
  font-size: initial;
}
footer i {
  font-size: x-large;
}
footer a:hover {
  transform: scale(120%);
}
@media screen and (max-width: 900px) {
  footer .horizontal {
    flex-direction: column;
    text-align: center;
  }
  footer .horizontal > div {
    width: 100%;
    padding: 12px 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    justify-content: center;
    align-items: center;
  }
  footer .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .logo img {
    width: 40%;
  }
}
