section {
  max-height: 100vh;
  padding: 0 0 0 0 !important;
  background: var(--backgroundgradient);
}
section.nomaxheight {
  max-height: unset;
}
section.padded1 {
  padding: 12% 0 12% 0 !important;
}
section.padded2 {
  padding: 8% 0 8% 0 !important;
}
section.padded2 {
  padding: 4% 0 4% 0 !important;
}
section.enclosed {
  justify-content: center;
  align-items: center;
  display: flex;
}
section.enclosed > div {
  width: 90%;

  background-color: var(--primary);
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero {
  background-color: var(--tint);
  background-image: url("../assets/banner_img.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-blend-mode: multiply;
  height: 100%;
}

.hero.content {
  padding: 0 3%;
  color: var(--textlight);
  text-align: center;
  font-size: clamp(10px, 3vw, 18px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hero.content img {
  width: 50vw;
  min-width: 300px;
  padding: 0;
  filter: invert(100%);
}
.accent_button {
  border-color: var(--accent);
  color: var(--text);
}
.accent_button:hover {
  background-color: var(--accent);
  color: var(--textlight);
}

/*PROMO SECTION*/

.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: left;
}
.promoitem {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 75vh;
  max-height: 50vw;
  padding: 12px 0;
  overflow: hidden;
}
.promoitem div {
  width: 45%;
  height: 100%;
}
.promobanner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.promobanner .img {
  overflow: hidden;
  display: flex;
  background-color: var(--tint);
  background-image: url("../assets/banner_img.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  width: 90%;
  height: 90%;
  box-shadow: -50px -50px 0px 0px var(--primarydark);
}
.promobanner .img img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.promocontent {
  padding: 24px;
  color: var(--text);
  overflow: hidden;
}
p {
  line-height: 32px;
  text-align: justify;
  text-indent: 48px;
  font-size: smaller;
  margin: 24px 36px;
}
.promocontent .date {
  margin: 0;
}
.promobutton {
  font-family: "Lustria", serif;
  color: var(--text);
  display: flex;
  padding: 12px;
  border: none;
  background-color: transparent;
  font-size: larger;
  transition: all 0.3s ease;
  cursor: pointer;
}
.promobutton span {
  padding: 0 8px;
  font-size: 20px;
  color: var(--text);
  transition: all 0.3s ease;
}
.promobutton:hover span {
  transform: translate(5px, 0);
}
.date {
  text-indent: 0px !important;
  font-size: smaller;
  font-style: italic;
  opacity: 0.5;
}
.container {
  overflow: hidden;
}

.title {
  background-color: transparent;
  font-size: x-large;
  width: 100%;
  padding: 24px 0 96px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 48px 0 48px;
}

/* SHOWCASE SECTION */
.showcases {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding: 12px;
  text-align: left;
}
.showcase {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.showcase > div {
  display: flex;
  height: 38vw;
}
.showcase .img {
  width: 38%;
  background: url("../assets/showcase1.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: -50px -50px 0px 0px var(--primarydark);
}
.showcase .info {
  width: 38%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.showcase .hr {
  width: 10%;
  height: unset;
  margin: 0 0 0 0 !important;
}
.showcase .hr hr {
  border: 2px solid var(--accent);
}

@media screen and (max-width: 900px) {
  .promoitem {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    max-height: unset;
  }
  .promoitem div {
    width: 80vw;
    height: 100%;
  }
  .promobanner .img {
    width: 80%;
    height: 60%;
  }
  .promobanner .img img {
    object-fit: cover;
    min-width: 50%;
    min-height: 50%;
  }
  .showcases {
    max-height: unset;
    width: 200vw;
    height: fit-content;
  }
  .showcase {
    flex-direction: column;
  }
  .showcase .img {
    display: flex;
    width: 84% !important;
    height: 60vw;
    padding: 0;
  }
  .showcase .info {
    display: flex;
    width: 84% !important;
    height: 60vh;
    padding: 0;
  }
}
