section {
  max-height: 100vh;
  padding: 0 0 0 0 !important;
}

.hero {
  background-color: var(--tint);
  background-image: url("../assets/banner_img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  height: 100%;
}
.hero.content {
  padding: 0 3%;
  color: var(--textlight);
  text-align: center;
  font-size: clamp(10px, 3vw, 18px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hero.content img {
  width: 50vw;
  min-width: 300px;
  padding: 0;
  filter: invert(100%);
}
.b1.body {
  padding: 12px;
  color: var(--textlight);
  border-color: var(--textlight);
  font-weight: 500;
  font-size: large;
}
.b1.body:hover {
  background-color: var(--textlight);
  color: var(--text);
  padding-inline: 18px;
}

/*PROMO SECTION*/

section.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 80vh;
}
section.promo div {
  width: 48%;
  height: 100%;
}
.promobanner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.promobanner .img {
  display: flex;
  background-image: url("../assets/banner_img.jpg");
  background-position: center;
  background-size: cover;
  padding: 12px;
  width: 90%;
  height: 90%;
  box-shadow: var(--shadowtemplate);
}
.promocontent {
  color: var(--textlight);
}
.promobutton {
  font-family: "Lustria", serif;
  color: var(--textlight);
  display: flex;
  padding: 12px;
  border: none;
  background-color: transparent;
  font-size: larger;
  transition: all 0.3s ease;
  cursor: pointer;
}
.promobutton span {
  padding: 0 8px;
  font-size: 20px;
  color: var(--textlight);
  transition: all 0.3s ease;
}
.promobutton:hover {
  color: var(--accent);
}
.promobutton:hover span {
  color: var(--accent);
  transform: translate(5px, 0);
}
