section {
  max-height: 100vh;
  padding: 0 0 0 0 !important;
  background: var(--background-gradient);
}
section.nomaxheight {
  max-height: unset;
}

section.enclosed {
  justify-content: center;
  align-items: center;
  display: flex;
}
section.enclosed > div {
  width: 90%;

  background-color: var(--primary);
}

.padded-bottom {
  padding-bottom: 96px;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero {
  background-color: var(--tint);
  background-image: url("../assets/banner_img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  height: 100%;
}

.hero.content {
  padding: 0 3%;
  color: var(--text-light);
  text-align: center;
  font-size: clamp(10px, 3vw, 18px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hero .hr {
  width: 100%;
  height: unset;
  margin: 0 0 0 0 !important;
}
.hero.content img {
  width: 50vw;
  min-width: 300px;
  padding: 0;
  filter: invert(100%);
}
.brewing-hours {
  opacity: 0.8;
  letter-spacing: 1.6px;
}

/*PROMO SECTION*/

.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: left;
}
.promos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 96px;
}
.promo-item {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  background-color: var(--primary);
  padding: 48px 24px;
}
.promo-item > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.promo-item .content {
  align-items: flex-start;
  gap: 6vh;

  padding: 24px;
}
.promo-image {
  width: 80%;
  box-shadow: var(--image-shadow-large);
  aspect-ratio: 1;
  object-fit: cover;
}
.promo-header {
  font-family: var(--header-font);
  color: var(--text);
  font-weight: 500;
  font-size: x-large;
}
.promo-content {
  text-indent: 48px;
  margin-inline: 24px;
  text-align: justify;
  font-size: medium;
  line-height: 36px;
}

.promo-date {
  opacity: 0.5;
  font-style: italic;
}
.promo-redirect-button {
  display: flex;
  align-self: flex-end;
  font-family: var(--header-font);
  font-size: large;
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 6px;
}
.promo-redirect-button * {
  transition: all 0.3s ease;
}
.promo-redirect-button span {
  color: var(--text);
}
.promo-redirect-button:hover * {
  transform: translate(12px, 0);
}
.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title {
  background-color: transparent;
  font-size: x-large;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline-start: 48px;
  padding-block-end: 96px;
}

/* SHOWCASE SECTION */
.showcases {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding: 12px 12px 48px 12px;
  text-align: left;
}
.showcase {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.showcase .info {
  display: flex;
  gap: 12px;
}
.showcase .text-button {
  align-self: flex-end;
}
.showcase .img {
  display: flex;
  height: 32vw;
}
.showcase .img {
  width: 38%;
  background: url("../assets/showcase1.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: var(--image-shadow-large);
}
.showcase .info {
  width: 38%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.showcase .hr {
  width: 10%;
  height: unset;
  margin: 0 0 0 0 !important;
}
.showcase .hr hr {
  border: 2px solid var(--accent);
}

@media screen and (max-width: 900px) {
  .promo {
    align-items: center;
  }
  .promo-item {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
  .promo-item > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .promo-item > div:nth-child(1) {
    width: 58%;
  }

  .showcases {
    max-height: unset;
    width: 200vw;
    height: fit-content;
  }
  .showcase {
    flex-direction: column;
  }
  .showcase .img {
    display: flex;
    width: 84% !important;
    height: 60vw;
    padding: 0;
  }
  .showcase .info {
    display: flex;
    width: 84% !important;
    max-height: none;
    height: fit-content;
    padding: 0;
  }
  .title {
    padding: 48px 0;
    text-align: center;
    width: 100%;
    display: flex;
    font-size: medium;
    justify-content: center;
  }
  .text-button {
    font-size: large;
  }
}
