@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@font-face {
  font-family: black-mango;
  src: url("../assets/fonts/brand_fonts/BlackMango-Regular.otf");
}
@font-face {
  font-family: black-mango;
  src: url("../assets/fonts/brand_fonts/BlackMango-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: black-mango;
  src: url("../assets/fonts/brand_fonts/BlackMango-ExtraBold.otf");
  font-weight: bolder;
}
:root {
  --primary: #e5ddd0;
  --primarydark: #c2b090;
  --accent: #387529;
  --text: #3f3a39;
  --textlight: #e7e7e0;
  --shadow: black;
  --tint: #3f3a39ca;
  --tint2: #3f3a3960;
  --backgroundgradient: linear-gradient(
    180deg,
    var(--primary) 0%,
    var(--primarydark) 100%
  );
  --shadowtemplate: 0px 0px 12px -4px var(--shadow);
  --roundness: 12px; /*Use this when defining border-radius*/

  /*DECLARE VARIABLES ABOVE ^^^*/
}
.material-symbols-outlined {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  transition: all 0.3s ease;
  color: var(--accent);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 12;
}
body {
  color: var(--text);
  margin: 0;
  padding: 0;
  background: var(--primary);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
::selection {
  background-color: var(--accent);
  color: var(--textlight);
  border-radius: 12px;
}
body > .hr {
  width: 30%;
  margin: 0 0 0 35vw;
}
body > .hr.left {
  width: 30%;
  margin: 0 0 0 20vw;
}
body > .hr.right {
  margin: 0 0 0 50vw;
}
hr {
  margin: 24px 0 24px 0;
}
hr.accent {
  width: 100%;
  border: 4px solid var(--accent);
  -webkit-mask-image: unset;
  mask-image: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
li {
  font-family: "Lustria", serif;
}
li {
  font-weight: bold;
}
a {
  color: var(--text);
  transition: all 0.3s ease;
  text-decoration: none;
}
a:hover {
  color: var(--accent);

  transition: all 0.3s ease;
}
a:hover > span {
  color: var(--accent) !important;
  transition: all 0.3s ease;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
p {
  font-family: "Poppins", sans-serif;
}
img {
  user-select: none;
}
.b1 {
  font-family: "Lustria", serif;
  background-color: transparent;
  border: 3px var(--accent) solid;

  cursor: pointer;
  transition: all 0.3s ease;
}
.b1:hover {
  padding-inline: 12px;
  background-color: var(--accent);
  color: var(--textlight);
  transition: all 0.3s ease;
}
.noselect {
  user-select: none;
}
section {
  padding: 0;
  max-height: 93vh;
  min-height: 40vh;
  height: 100vw;
  width: 100%;
  overflow: hidden;
}
section.default {
  max-height: unset;
  height: unset;
}
section:nth-child(2) {
  padding: 50px 0 0 0;
}
.brandfont {
  font-family: "black-mango", sans-serif;
}
.acrylic {
  backdrop-filter: blur(8px);
}

[data-inviewport="expand"] > * {
  width: 0 !important;
  margin-inline: 50% !important;
  opacity: 0 !important;
  transition: all 1.2s ease;
}
[data-inviewport="expand"].is-inViewport > * {
  width: 100% !important;
  margin-inline: 0 !important;
  opacity: 1 !important;
}
[data-inviewport="fadefrombottom"] > :not(.hr) {
  transform: translateY(20vh) !important;
  opacity: 0 !important;
  transition: all 1s cubic-bezier(0.81, 0.02, 0.2, 0.98);
}
[data-inviewport="fadefrombottom"].is-inViewport > :not(.hr) {
  transform: translateY(0) !important;
  opacity: 1 !important;
}
[data-inviewport="fadebackgroundfrombottom"] {
  background-position-y: 0% !important;
  transition: all 1s cubic-bezier(0.81, 0.02, 0.2, 0.98);
}
[data-inviewport="fadebackgroundfrombottom"].is-inViewport {
  background-position-y: 50% !important;
}
[data-inviewport="fadebackgroundfromtop"] {
  background-position-y: 100% !important;
  transition: all 1s cubic-bezier(0.81, 0.02, 0.2, 0.98);
}
[data-inviewport="fadebackgroundfromtop"].is-inViewport {
  background-position-y: 50% !important;
}
[data-inviewport="fadein"] > :not(.hr) {
  opacity: 0 !important;
  transition: all 1s ease;
}
[data-inviewport="fadein"].is-inViewport > :not(.hr) {
  opacity: 1 !important;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0px, -4px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    width: 0;
    margin-inline: 50%;
  }
  100% {
    width: 100%;
    margin-inline: 0;
  }
}
@keyframes slidefromtop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: unset;
  }
}
@keyframes slidefrombottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: unset;
  }
}
