.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary);
  z-index: 2;
  transition: background-color 0.3s ease;
  animation: 0.6s cubic-bezier(0.81, 0.02, 0.2, 0.98) 0s 1 nav-slide-from-top;
}
.navbar.transparent {
  background-color: transparent;
}
.navbar * {
  color: var(--text);
  user-select: none;
}
.navbar.transparent * {
  color: var(--text-light);
}
.navbar.transparent a.active {
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent);
  text-underline-offset: 6px;
  background-color: transparent;
  color: var(--text-light);
  backdrop-filter: blur(8px);
}

.navbar a:hover {
  color: var(--accent);
}
.navbar a.active {
  background-color: var(--accent);
  color: var(--text-light);
}

.navbar.transparent .products-dropdown {
  background-color: var(--tint);
}

.navbar.transparent .logo img {
  filter: invert(100%);
}
.cart-button,
.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  background-color: transparent;
  border: var(--default-border);
  border-color: var(--accent);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text);
  font-size: 13.33333333px;
  padding: 8px;
  gap: 6px;
  position: relative;
}

.cart-button .badge {
  background-color: var(--accent);
  padding: 2px 6px;
  border-radius: 100px;
  font-size: x-small;
  position: absolute;
  left: 20px;
  top: 4px;
  color: var(--text-light);
  transition: all 0.3s ease;
}
.cart-button:hover {
  padding-inline: 12px;
  background-color: var(--accent);
  color: var(--text-light);
  transition: all 0.3s ease;
}
.cart-button:hover .material-symbols-outlined {
  color: var(--text-light);
}
.cart-button:hover .badge {
  background-color: var(--text-light);
  color: var(--accent);
}

.navbar div {
  width: 64%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.navbar .logo,
.navbar .back {
  width: 18%;
  justify-content: flex-start;

  margin-left: 24px;
}
.navbar .logo img {
  height: 80%;
}
.navbar .nav-cart {
  width: 18%;
  justify-content: flex-end;
  margin-right: 24px;
}
.navbar .products-dropdown a:hover > span.material-symbols-outlined {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.links ul {
  display: flex;
  list-style: none;
  margin: 0 !important;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.links li {
  padding: 0 1.5vw;
  white-space: nowrap;
}
.links a {
  padding: 12px 12px;
  text-decoration: none;
}
.links .products-dropdown-button:hover .products-dropdown {
  max-height: 100vh;
  padding: 12px;
  opacity: 1;
  transition: 0.3s ease;
}
.links .products-dropdown-button > span {
  font-size: 22px;
  transition: 0.3s ease;
}
.links .products-dropdown-button:hover > span {
  transform: rotate(180deg);
  transition: 0.3s ease;
}
.products-dropdown {
  transform: translateY(10px);
  max-height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 0.3s ease;
  box-shadow: var(--default-shadow);
  backdrop-filter: blur(8px);
}
.products-dropdown li {
  padding: 12px;
}
.products-dropdown a {
  padding: 12px 0 !important;
}

.menu-button {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 3;
  right: 6px;
  top: 6px;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}
.menu-button span {
  color: var(--accent);
}
.menu-button:hover {
  padding: 1px 8px;
  transition: all 0.3s ease;
}
.hideable {
  display: none;
}
.navbar.transparent .products-dropdown span {
  color: var(--text-light);
}

.navbar a span {
  color: var(--text);
}
.navbar .back span {
  color: var(--text);
}
.navbar.transparent .back span {
  color: var(--text-light);
}

@keyframes nav-slide-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: unset;
    opacity: 1;
  }
}
.back {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.back-button {
  border: none !important;
}
.back-button * {
  transition: all 0.3s ease;
}
.back-button:hover {
  background-color: transparent;
}
.back button:hover * {
  transform: translate(-6px, 0) !important;
}

@media only screen and (max-width: 1300px) {
  .links > ul > li {
    padding: 0 0.2vw;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 900px) {
  .navbar .logo {
    width: 80%;
    height: 156px;
  }
  .navbar .back {
    width: 100%;
    height: 48px;
  }
  .navbar .logo img {
    width: 100%;
    min-width: 200px;
    filter: none !important;
  }
  .navbar .nav-cart {
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 24px;
    right: 4px;
  }
  .cart-button {
    border: none;
  }
  .cart-button:hover {
    background-color: transparent;
  }
  .cart-button,
  .cart-button .material-symbols-outlined {
    color: var(--text) !important;
  }
  .navbar .links {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .navbar {
    justify-content: flex-start;
    flex-direction: column;
    right: 0;
    max-width: 0;
    height: 100lvh;
    position: fixed;
    transition: all 0s linear, max-width 0.3s ease;
  }
  .navbar.transparent .back span {
    color: var(--text) !important;
  }
  .navbar ul {
    text-align: left;
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
  }

  .navbar.transparent {
    background-color: var(--primary);
  }
  .navbar.transparent a,
  .navbar.transparent .products-dropdown-button span,
  .navbar.transparent .products-dropdown span {
    color: var(--text);
  }
  .navbar a:hover {
    color: var(--accent);
  }
  .navbar a.active:hover {
    color: var(--text-light);
  }
  .navbar.transparent a.active {
    background-color: var(--accent);
    color: var(--text-light);
    text-decoration: none;
  }
  .menu-button {
    display: flex;
  }
  .menu-button.expanded > span {
    color: var(--text);
  }
  .menu-button.expanded:hover {
    background-color: transparent;
  }
  .navbar.expanded {
    max-width: max(300px, 30vw);
    transition: max-width 0.3s ease;
  }
  .hideable {
    display: unset;
  }
  .cart-button:hover .badge {
    background-color: var(--accent);
    color: var(--text-light);
  }
  .products-dropdown {
    overflow: hidden;
    border-radius: 0;
    position: unset;
    box-shadow: none;
    background-color: transparent !important;
  }
  .links > ul > .products-dropdown-button:hover .products-dropdown {
    width: 100%;
    padding: 0;
    opacity: 1;
    padding: 6px 12px 0 0;
    transition: 0.3s ease;
  }
  .links > ul > li {
    padding: 12px 1.5vw;
    white-space: nowrap;
  }
  .links ul li a {
    padding: 12px 1.5vw;
    text-decoration: none;
  }
}
