.navbar {
  position: fixed;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary);
  z-index: 2;
  transition: background-color 0.3s ease;
  animation: 0.6s cubic-bezier(0.81, 0.02, 0.2, 0.98) 0s 1 navslidefromtop;
}
.navbar * {
  user-select: none;
}
.navbar a {
  transition: all 0.3s ease;
}
.ordernow button,
.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--headerfont);
  background-color: transparent;
  border: var(--defaultborder);
  border-color: var(--accent);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text);
  font-size: 13.33333333px;
  padding: 8px;
  font-weight: bold;
  gap: 6px;
  position: relative;
}
.ordernow span {
  color: var(--text);
}
.ordernow .badge {
  background-color: var(--accent);
  padding: 2px 6px;
  border-radius: 100px;
  font-size: x-small;
  position: absolute;
  left: 20px;
  top: 4px;
  transition: all 0.3s ease;
}
.ordernow button:hover {
  padding-inline: 12px;
  background-color: var(--accent);
  color: var(--textlight);
  transition: all 0.3s ease;
}
.ordernow button:hover span {
  color: var(--textlight);
}
.ordernow button:hover .badge {
  background-color: var(--textlight);
  color: var(--accent);
}
.navbar img {
  height: 65%;
}
.navbar div {
  vertical-align: middle;
  width: 64%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.navbar div:nth-child(1) {
  width: 18%;
  justify-content: flex-start;

  margin-left: 24px;
}
.navbar div:nth-child(3) {
  width: 18%;
  justify-content: flex-end;
  margin-right: 24px;
}
.navlinks ul {
  list-style: none;
  margin: 0 !important;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.navlinks > ul {
  display: flex;
}
.navlinks > ul > li {
  padding: 0 1.5vw;
  white-space: nowrap;
}
.navlinks ul li a {
  padding: 24px 0;
  text-decoration: none;
}
.navlinks > ul > li:last-child:hover .products-dropdown {
  max-height: 100vh;
  padding: 12px;
  opacity: 1;
  transition: 0.3s ease;
}
.navlinks > ul > li:last-child > span {
  font-size: 22px;
  transition: 0.3s ease;
}
.navlinks > ul > li:last-child:hover > span {
  transform: rotate(180deg);
  transition: 0.3s ease;
}
.navlinks ul li:last-child > span {
  cursor: pointer;
}
.products-dropdown {
  max-height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: 0.3s ease;
  box-shadow: var(--shadowtemplate);
  backdrop-filter: blur(8px);
}
.products-dropdown li {
  padding: 12px;
}
.products-dropdown a {
  padding: 12px 0 !important;
}
.navbar.transparent {
  background-color: transparent;
}
.navbar.transparent .products-dropdown {
  background-color: var(--tint);
}
.navbar.transparent a,
.navbar.transparent button span,
.navbar.transparent button,
.navbar h1 {
  color: var(--textlight);
}
.navbar.transparent img {
  filter: invert(100%);
}
.navbar.transparent a:hover {
  color: var(--accent);
}
.menutoggle {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 3;
  right: 6px;
  top: 6px;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}
.menutoggle span {
  color: var(--accent);
}
.menutoggle:hover {
  padding: 1px 8px;
  transition: all 0.3s ease;
}
.hideable {
  display: none;
}
a.active {
  color: var(--accent) !important;
}
.navbar.transparent .products-dropdown span {
  color: var(--textlight);
}
.navbar .products-dropdown span {
  color: var(--text);
}
.navbar .back span {
  color: var(--text);
}
.navbar.transparent .back span {
  color: var(--textlight);
}
@keyframes navslidefromtop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: unset;
    opacity: 1;
  }
}
.back {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.back-button {
  border: none !important;
}
.back-button * {
  transition: all 0.3s ease;
}
.back-button:hover {
  background-color: transparent;
}
.back button:hover * {
  transform: translate(-6px, 0) !important;
}

@media screen and (max-width: 900px) {
  .navbar div:nth-child(1),
  .navbar div:nth-child(3) {
    opacity: 0;
    width: 0%;
    height: 0;
  }

  .navbar div:nth-child(2) {
    display: flex;
    padding-top: 36px;
    width: 100%;
    height: 100%;
  }
  .navbar {
    justify-content: flex-start;
    flex-direction: column;
    right: 0;
    max-width: 0;
    height: 100lvh;
    transition: all 0s, max-width 0.3s ease;
  }
  .navbar ul {
    text-align: left;
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
  }
  .navbar.transparent,
  .navbar.transparent .products-dropdown {
    background-color: var(--primary);
  }
  .navbar.transparent a,
  .navbar.transparent button span,
  .navbar.transparent button {
    color: var(--text);
  }
  .navlinks > ul > li:last-child > span {
    font-size: 16px;
    transition: 0.3s ease;
  }
  .menutoggle {
    display: flex;
  }
  .menutoggle.expanded > span {
    color: var(--text);
  }
  .menutoggle.expanded:hover {
    background-color: transparent;
  }
  .navbar.expanded {
    max-width: max(200px, 30vw);
    transition: max-width 0.3s ease;
  }
  .hideable {
    display: unset;
  }
  .products-dropdown {
    overflow: hidden;
    border-radius: 0;
    position: unset;
    box-shadow: none;
  }
  .navlinks > ul > li:last-child:hover .products-dropdown {
    width: 100%;
    padding: 0;
    opacity: 1;
    padding: 6px 12px 0 0;
    transition: 0.3s ease;
  }
  .navbar .products-dropdown span,
  .navbar.transparent .products-dropdown span {
    color: var(--text);
  }
  .navlinks > ul > li {
    padding: 12px 1.5vw;
    white-space: nowrap;
  }
  .navlinks ul li a {
    padding: 12px 1.5vw;
    text-decoration: none;
  }
}
