.banner {
  background-image: url("../assets/newsphotos/news_banner.jpg");
}
.news-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: unset;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}
.news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.news-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max(250px, 80%);
  background: var(--foreground-gradient);
  padding: 32px;
  gap: 24px;
  transition: all 0.3s ease;
}
.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  width: 80%;
}
.news-header {
  background-color: var(--accent);
  color: var(--text-light);
  padding: 12px;
}
.box-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.news-image {
  height: 25vw;
  min-height: 200px;
  min-width: 200px;
  object-fit: cover;
  aspect-ratio: 1;
}
.news-date {
  font-family: var(--header-font);
  font-size: clamp(14px, 1vw, 1em);
}
.news-date::before {
  content: "Posted on: ";
}
.news-item .text-button {
  font-size: clamp(14px, 1vw, 1em);
}
@media screen and (max-width: 600px) {
  .news-date::before {
    content: "";
  }
  .news-item .text-button {
    gap: 0;
  }
}
