section {
  max-height: 100vh;
  padding: 0 0 0 0 !important;
}
section.enclosed {
  justify-content: center;
  align-items: center;
  display: flex;
}
section.enclosed > div {
  width: 90%;

  background-color: var(--primary);
}
.banner {
  background-image: url("../assets/newsphotos/newsphoto1.jpg");
}
.live-music-photo {
  background-image: url("../assets/newsphotos/newsphoto2.jpg")
}
#gallery-proper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 48px;
  background-color: var(--primary);
}

#gallery-proper img {
  display: inline-block;
  width: 40vh;
  max-height: 100%;
  padding: 10px;
  margin: auto;
  border: 1px solid #ddd;
  background: #fff;
  object-fit: fill;
  transition: transform ease 0.5s;
}

#gallery-proper img:hover {
  transform: scale(1.1);
}

#gallery-proper img.full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.7);
}
#textcontainer {
  display: flex;
  text-align: justify;
}

#text {
  flex: 1;
  font-size: 1.2rem;
  padding: 0% 4%;
}

#image {
  flex: 1;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
.welcome-section,
.selection-section {
  max-height: unset;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-gradient);
  width: 100%;
}
.selection-section {
  background: var(--secondary);
}
.welcome,
.selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 48px 12px 48px 12px;
  gap: 24px;
}
.selection {
  flex-direction: column;
}
.hr.accent {
  width: 50%;
  height: unset;
  margin: 0 25% !important;
}
.hr.accent hr {
  border: 2px solid var(--accent);
}
.welcome-title,
.selection-title {
  text-align: center;
  font-size: x-large;
}
.welcome-text {
  width: 40%;
}
.selection-text {
  width: clamp(200px, 80%, 770px);
}
.welcome-graphic {
  border-style: dashed;
  height: fit-content;
  border-color: var(--text);
  border-radius: 50%;
  padding: 4vw;
  background: var(--primary);
  background: radial-gradient(
    circle,
    var(--secondary) 20%,
    rgba(0, 212, 255, 0) 100%
  );
}
/* News Header */
.news-section {
  margin-top: 20px;
  text-align: center;
}

.news-banner {
  background-image: url('testimonials_images/banner_img.jpg');
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  font-size: 32px;
  text-decoration: underline; /* Added underline */
}

/* News Header */
.news-section {
  margin-top: 20px;
  text-align: center;
}

.news-banner {
  background-image: url('testimonials_images/banner_img.jpg');
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  font-size: 32px;
  text-decoration: underline; /* Added underline */
}

/* News Box */
.box {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease-in-out; /* Added transition property */
}

.box:hover {
  transform: scale(1.05); /* Added scale on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Added box shadow on hover */
}

.box-header {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-content img {
  border-radius: 5%;
  border: 2px solid #ccc; 
  margin-bottom: 20px; 
  width: 350px;
  height: 250px;
}

.box-content-text {
  flex: 1;
  text-align: left;
}

.box-banner {
  background-image: url('testimonials_images/banner_blur.jpg');
  background-size: cover;
  height: 50px; 
  margin-top: 10px; 
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  padding: 5px;
  color: #fff;
}

.box-banner-text {
  flex: 1;
  color: black;
  text-align: left;
}

.box-banner-date {
  font-size: 14px;
  color: black;
}

/* Loyalty Program Styles */
.loyalty-section {
margin-top: 20px;
text-align: center;
}

.loyalty-box {
background-color: #F7E0B8; /* Light brown background color */
border-radius: 15px;
margin-top: 20px;
padding: 20px;
border: 1px solid #ccc;
width: 70%;
margin-left: auto;
margin-right: auto;
}

.loyalty-header {
text-align: center;
}

.loyalty-header h2 {
font-size: 28px;
font-weight: bold;
margin-bottom: 20px;
}

.loyalty-content h2 {
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
}

.loyalty-content p {
margin-bottom: 15px;
}
