.cart-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: unset;
  position: relative;
  height: auto;
  min-height: 100% !important;
}
.cart-section h1 {
  font-size: clamp(24px, 4vw, 3em);
}
.cart-section .hr {
  width: 80%;
  height: unset;
  margin: 0 0 0 0 !important;
}
.cart-section .hr hr {
  border: 2px solid var(--accent);
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max(300px, 95%);
  background: var(--primary);
  height: 90%;
  min-height: 90%;
  transition: all 0.3s ease;
}
.orders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 96%;
  gap: 48px;
}
.order-item {
  display: flex;
  height: 20vw;
  min-height: 20vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  background: var(--primary);
  padding: 6px 12px;
  overflow: hidden;
}
.image {
  aspect-ratio: 1;
  height: 100%;
}
.product-index {
  width: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border: var(--default-border);
  border-color: var(--accent);
  color: var(--text-light);
  background-color: var(--accent);
}
.text-content {
  width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.product-name {
  font-family: var(--header-font);
  font-size: clamp(18px, 2vw, 1.6em);
}
.product-description {
  margin-inline-start: 24px;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.product-quantity {
  width: 24px;
  background-color: transparent;
  border: none;
  height: 24px;
  font-family: var(--body-font);
  font-weight: 500;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
.product-quantity::-webkit-outer-spin-button,
.product-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product-quantity[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.product-quantity:focus {
  background-color: var(--text-light);
}
.increment-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.remove-button {
  background-color: transparent;
  border: var(--default-border);
  color: var(--text);
  border-color: var(--accent);
  font-family: var(--header-font);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
  gap: 8px;
  transition: all 0.3s ease;
}
.remove-button::after {
  content: "REMOVE";
}
.remove-button span {
  color: var(--text);
  font-size: 18px;
}
.remove-button:hover {
  background-color: var(--accent);
  color: var(--text-light);
}
.remove-button:hover span {
  color: var(--text-light);
}
.item-price {
  font-size: clamp(12px, 1vw, 1em);
  border: var(--default-border);
  border-color: var(--accent);
  background-color: var(--accent);
  font-family: var(--header-font);
  color: var(--text-light);
  padding: 8px;
  cursor: default;
}
.item-price::before {
  content: "Price: ";
}
.item-price:hover ~ .product-price {
  width: 100px;
  opacity: 1;
}
.product-price {
  width: 0;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  font-size: small;
  font-family: var(--header-font);
  transition: all 0.3s ease;
}
.product-customizations {
  display: flex;
  gap: 12px;
}
.product-customization {
  background-color: var(--accent);
  padding: 4px 8px;
  text-transform: capitalize;
  color: var(--text-light);
  font-family: var(--header-font);
  font-size: smaller;
  font-style: italic;
}
.product-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.textarea textarea {
  display: flex;
}
.checkout-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.total:before {
  content: "₱";
}
@media screen and (max-width: 900px) {
  .product-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .product-customizations {
    gap: 2px;
  }
  .product-index {
    display: none;
  }
  .product-description {
    display: none;
  }
  .controls {
    gap: 0px;
  }
  .controls .group {
    gap: 4px;
  }
  .item-price {
    padding: 2px;
  }
  .item-price::before {
    content: "";
  }

  .order-item {
    position: relative;
    gap: 2px;
  }
  .product-price {
    display: none;
  }
  .image {
    height: 70%;
  }
  .remove-button {
    padding: 2px;
    gap: 0;
  }
  .remove-button::after {
    content: "";
  }
  .quantity-controls {
    gap: 0;
  }
  .quantity-controls * {
    padding: 0;
  }
}
