body {
  background-color: var(--primary);
}
.banner {
  background-color: var(--tint);
  background-position: 0% 30%;
  color: var(--text-light);
  overflow: hidden;
  position: relative;
}
.hero-title {
  position: absolute;
  overflow: hidden;
}
.hero-title h1 {
  user-select: none;
  font-size: 32vw;
  opacity: 0.1;
  padding: 0;
  margin: 0;
}
.hero-subtitle h3 {
  font-style: italic;
}

.search-section {
  min-height: unset;
  max-height: unset;
  height: fit-content;
  width: 100%;
  padding: 24px 0;
}
.search-form {
  width: 100% !important;
  padding: 0 !important;
  max-width: unset !important;
  box-shadow: none !important;
}
.search-form .input-data {
  width: 95% !important;
}
[data-middle="highlight"] {
  transform: none;
  box-shadow: none;
}
[data-middle="highlight"].is-inMiddle {
  transform: scale(110%);
  box-shadow: 0px 0px 0px 8px var(--text-light);
}
