
h1{
    display: flex;
}

label{
    padding-top: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-list{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    gap: 2rem;
    width: 75vw;
    height: 100%;;
}

.coffee-container{
    background: yellow;
    width: 20rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.coffee-container img {
    display: block;
    background: white;
    width: 15rem;
    height: 15rem;
    position: relative;
    border-radius: 5%;
}

.beverage-container{
    background: yellow;
    width: 20rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.beverage-container img {
    display: block;
    background: white;
    width: 15rem;
    height: 15rem;
    position: relative;
    border-radius: 5%;
}

.dessert-container{
    background: yellow;
    width: 20rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.dessert-container img {
    display: block;
    background: white;
    width: 15rem;
    height: 15rem;
    position: relative;
    border-radius: 5%;
}