section {
  max-height: unset;
  height: fit-content;
  padding: 0 0 0 0 !important;
}

.reservation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.reservation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .reservation .form {
  background: var(--primary);
  padding: 45px;
  max-width: 700px;
  width: 90%;
  margin: 100px auto;
  color: #000;
}

section .reservation .form form h2 {
  font-family: var(--header-font);
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  background: -webkit-linear-gradient(
    right,
    #783b02,
    #af8559,
    #783b02,
    #af8559
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

section .reservation .form .field-row .field {
  width: 100%;
  margin-bottom: 0px;
}

section .reservation .form .field-row .field label {
  font-family: var(--bodyfont);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

section .reservation .form .field-row .field input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  pad: 10px 10px;
  border: 1px solid #ddd;
}

section .reservation .form .field label {
  font-family: var(--bodyfont);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

section .reservation .form .field input,
select {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  pad: 10px 10px;
  border: 1px solid #ddd;
}

section .reservation .form .field input,
select,
option ::placeholder {
  font-family: var(--bodyfont);
  font-size: 15px;
  text-align: center;
}

section .reservation .form form .btn {
  background: rgba(0, 0, 0, 0.1);
  -webkit-text-fill-color: transparent;
  margin: 10px 0;
  color: #ddd;
  padding: 10px 20px;
  border: 3px solid #519440;
  font-size: 23px;
  box-shadow: 7px 10px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

section .reservation .form form .btn:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container-form {
    padding: 10px;
  }
  .heading-phone {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) and (max-width: 880px) {
  .container-time {
    padding: 30px;
  }
  .container-form {
    padding: 10px;
  }
}
